* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

.main {
    height: 100%;
    width: 100%;
}

.intro {
    height: 30%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.521);
}

.intro h1 {
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: -3px;
}

.place {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place {
    font-size: 35px;
    font-weight: 400;
    color: #115aba;
}

.propic {
    height: 80%;
    width: 100%;
    background-size: cover;

    background-image: url(https://media.istockphoto.com/id/1476170969/photo/portrait-of-young-man-ready-for-job-business-concept.webp?s=2048x2048&w=is&k=20&c=yif473DFhN451o-tNC1tASFFoP5QTOYcqS26dhEbv6U=);
}

.nav {
    padding: 30px 40px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.nav h3 {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;

}

.nav i {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;

}

.about {
    height: 50%;
    width: 100%;
    /* background-color: #df5e5e61; */
    display: flex;

}

.aleft {
    height: 100%;
    width: 60%;
    /* background-color: #df5e5e61; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.aleft h3 {
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: -3px;
    padding-left: 20px;
}

.aright {
    height: 100%;
    width: 40%;
    border-left: 2px solid #000;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.aright h3 {
    font-size: 3rem;
    margin-top: 30px;

}
.icons {
    display: flex;
    padding: 20px 0;
    gap: 5px;
   
}

.icons i {
    font-size: 30px;
    color: #feffff;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #0e1414bb;

}

.work {
    height: 60%;
    width: 100%;
    display: flex;
    border-top: 2px solid #000;
    padding: 50px 60px;
  
}

.left {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #000;
    padding-right: 60px;
}
.left h3{
    font-size: 30px;
}
.left i{
    font-size: 20px;
}

.right {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.rightup {
    height: 50%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #000;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.ruleft {
    height: 100%;
    width: 50%;
    border-right: 2px solid #000;
}
.ruleft h3{
    font-size: 30px;
}

.ruright {
    height: 100%;
    width: 50%;
    padding-left: 50px;
}
.ruright h3{
    font-size: 30px;
}

.rightdown {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}

.rdleft {
    height: 100%;
    width: 50%;
    border-right: 2px solid #000;

}
.rdleft h3{
    font-size: 30px;
}

.rdright {
    height: 100%;
    width: 50%;
    padding-left: 50px;

}
.rdright h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    font-weight: 400;
}